{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    {{ nav_config('pills', {'active_strategy': 'first'}) }}
    {{ nav_start() }}
        {{ nav_item({'label' : 'Exemple', 'url' : '#exemple'}) }}
        {{ nav_item({'label' : 'How to', 'url': '#how-to'}) }}
    {{ nav_end() }}

    <div class="tab-content">

        <div class="tab-pane active" id="exemple">
            <div class="card">
                <div class="card-body">
                    {{ render_table(table) }}
                </div>
            </div>
        </div>

        <div class="tab-pane" id="how-to">
            <div class="card">
                <div class="card-body">
                    <h4>DataTableType</h4>

                    <p>Class <code>App\DataTable\MyTableType</code>:</p>
                    <pre class="border-dark border p-2">{{ source('admin/datatable/_datatable.txt') }}</pre>

                    <h4>Controller</h4>

                    <p>Class <code>App\Controller\MyController</code>:</p>
                    <pre class="border-dark border p-2">{{ source('admin/datatable/_controller.txt') }}</pre>

                    <h4>Twig</h4>

                    <p>Class <code>my_table/index.html.twig</code>:</p>
                    <pre class="border-dark border p-2">{{ source('admin/datatable/_twig.txt') }}</pre>
            </div>
        </div>

    </div>
{% endblock %}