{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="container">
        {{ umbrella_form_theme(form, layout) }}
        <form enctype="multipart/form-data" method="POST" data-mount="Form">

            <div class="d-flex mb-3 align-items-center">
                <div>
                    <span class="me-1">Bootstrap layout : </span>
                    {% if 'horizontal' == layout %}
                        <strong>Horizontal</strong>
                        <i class="mdi mdi-slash-forward"></i>
                        <a href="{{ path('app_admin_form_basic', {layout: 'default'}) }}">Default</a>
                    {% else %}
                        <a href="{{ path('app_admin_form_basic') }}">Horizontal</a>
                        <i class="mdi mdi-slash-forward"></i>
                        <strong>Default</strong>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary ms-auto">
                    <i class="mdi mdi-check me-1"></i> {{ 'Save' | trans }}
                </button>
            </div>

            {{ form_errors(form) }}

            <div class="card">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    {{ form_row(form.active) }}
                    {{ form_row(form.amount) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.url) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Date</h4>
                </div>
                <div class="card-body">
                    {{ form_row(form.date) }}
                    {{ form_row(form.dateTime) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Collection</h4>
                </div>
                <div class="card-body">
                    {{ form_row(form.items) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Ckeditor</h4>
                </div>
                <div class="card-body">
                    {{ form_row(form.text1) }}
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}