{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" data-mount="Form">

        <div class="d-flex mb-3">
            <span class="ml-auto"></span>
            <button type="submit" class="btn btn-primary">
                <i class="mdi mdi-check"></i> {{ 'action.save' | trans }}
            </button>
        </div>

        {{ form_errors(form) }}

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Basic</h4>
                {{ form_row(form.active) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.color) }}
                {{ form_row(form.text) }}
                {{ form_row(form.url) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Date</h4>
                {{ form_row(form.date) }}
                {{ form_row(form.dateTime) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Select 2</h4>
                {{ form_row(form.fish) }}
                {{ form_row(form.fishEntities) }}
                {{ form_row(form.asyncFishEntities) }}
                {{ form_row(form.tags) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Fichier</h4>
                {{ form_row(form.file) }}
                {{ form_row(form.pdf) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Ckeditor</h4>
                {{ form_row(form.htmlText) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Collection</h4>
                {{ form_row(form.items) }}
                {{ form_row(form.strings) }}
            </div>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}