{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    {{ umbrella_form_theme(form) }}
    <form enctype="multipart/form-data" method="POST">

        <div class="d-flex">
            <span class="ml-auto"></span>
            <button type="submit" class="btn btn-primary">
                <i class="mdi mdi-check"></i> {{ 'action.save' | trans }}
            </button>
        </div>

        {{ form_errors(form) }}

        <div class="row">

            <div class="mb-4 col-md-6">
                <h5 class="m-0 pb-2">Basic</h5>
                <div class="card card-body mb-0">
                    {{ form_row(form.active) }}
                    {{ form_row(form.amount) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.url) }}
                </div>
            </div>

            <div class="mb-4 col-md-6">
                <h5 class="m-0 pb-2">Select 2</h5>
                <div class="card card-body mb-0">
                    {{ form_row(form.missions) }}
                    {{ form_row(form.asyncMissions) }}
                    {{ form_row(form.tags) }}
                </div>
            </div>

            <div class="mb-4 col-md-6">
                <h5 class="m-0 pb-2">Date</h5>
                <div class="card card-body mb-0">
                    {{ form_row(form.date) }}
                    {{ form_row(form.dateTime) }}
                </div>
            </div>

            <div class="mb-4 col-md-6">
                <h5 class="m-0 pb-2"> File</h5>
                <div class="card card-body mb-0">
                    {{ form_row(form.image) }}
                    {% if form.image.vars.value %}
                        <div class="alert alert-info d-flex align-items-center">
                            <a href="{{ form.image.vars.value | file_url }}" class="mr-2">
                                <img src="{{ form.image.vars.value | image_url('thumbnail') }}" class="img-thumbnail">
                            </a>
                            <div>Umbrella file can be displayed with liip/imaginebundle :)</div>
                        </div>
                    {% endif %}
                    {{ form_row(form.pdf) }}
                </div>
            </div>

            <div class="mb-4 col-md-6">
                <h5 class="m-0 pb-2"> Ckeditor</h5>
                <div class="card card-body mb-0">
                    {{ form_widget(form.htmlText) }}
                </div>
            </div>

            <div class="mb-4 col-md-6">
                <h5 class="m-0 pb-2"> Collection</h5>
                <div class="card card-body mb-0">
                    {{ form_widget(form.items) }}
                    <div class="mb-4"></div>
                    {{ form_widget(form.strings) }}
                </div>
            </div>
            
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}