{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    {{ umbrella_form_theme(form) }}
    <form enctype="multipart/form-data" method="POST">

        <div class="d-flex mb-3">
            <button type="submit" class="btn btn-primary ms-auto">
                <i class="mdi mdi-check"></i> {{ 'action.save' | trans }}
            </button>
        </div>

        {{ form_errors(form) }}

        <div class="row">

            <div class="col-lg-6">
                <div class="card card-body">
                    <h4 class="header-title">Basic</h4>
                    {{ form_row(form.active) }}
                    {{ form_row(form.amount) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.url) }}
                </div>

                <div class="card card-body">
                    <h4 class="header-title">Select 2</h4>
                    {{ form_row(form.missions) }}
                    {{ form_row(form.asyncMissions) }}
                </div>

                <div class="card card-body">
                    <h4 class="header-title">Date</h4>
                    {{ form_row(form.date) }}
                    {{ form_row(form.dateTime) }}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card card-body">
                    <h4 class="header-title">File</h4>
                    {{ form_row(form.image) }}
                    <div class="alert alert-info">
                        Check <a href="https://github.com/dustin10/VichUploaderBundle" target="_blank">VichUploaderBundle</a> documentation for File upload usage.<br>
                        Only the theme of VichFileType / VichImageType is overriden by Umbrella form theme.
                    </div>
                </div>

                <div class="card card-body">
                    <h4 class="header-title">Ckeditor</h4>
                    {{ form_widget(form.htmlText) }}
                </div>

                <div class="card card-body">
                    <h4 class="header-title">Collection</h4>
                    {{ form_widget(form.items, {attr: {class: 'mb-4'}}) }}
                    {{ form_widget(form.strings) }}
                </div>
            </div>
            
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}