{% extends "admin/form/layout.html.twig" %}

{% block tab_content %}
    <form enctype="multipart/form-data" method="POST" data-mount="Form">

        <div class="d-flex mb-3">
            <span class="ml-auto"></span>
            <button type="submit" class="btn btn-primary">
                <i class="mdi mdi-check"></i> {{ 'action.save' | trans }}
            </button>
        </div>

        {{ form_errors(form) }}

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Choice2Type</h4>
                {{ form_row(form.fishSpecies) }}
                {{ form_row(form.requiredFishSpecies) }}
                {{ form_row(form.manyFishSpecies) }}
                {{ form_row(form.requiredManyFishSpecies) }}
                {{ form_row(form.manyTplFishSpecies) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Entity2Type</h4>
                <p class="text-muted">Work same as Choice2Type but with entity</p>
                {{ form_row(form.fishes) }}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">AsyncEntity2Type</h4>
                <p class="text-muted">Work same as Entity2Type with async choice loading</p>
                {{ form_row(form.fishesAsync) }}

                <p>Usefull Options</p>
                <ul>
                    <li>route, route_params - configure the api url (must return json response with results paginated / searched)</li>
                    <li>scroll : bool - if true enable pagination</li>
                    <li>page_limit : num - work only if scroll = true, set number result per page</li>
                    <li>min_search_length : num - Start search only after n char was typed</li>
                    <li>delay : num - delay in ms before search start</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">TagType</h4>
                <p class="text-muted">Add a tag aren't on restricted choice list</p>
                {{ form_row(form.tags) }}
            </div>
        </div>

        {{ form_rest(form) }}


    </form>
{% endblock %}