{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    {{ umbrella_form_theme(form, 'default') }}
    <form enctype="multipart/form-data" method="POST" data-mount="Form">

        <div class="d-flex mb-3 align-items-center">
            <button type="submit" class="btn btn-primary ms-auto">
                <i class="mdi mdi-check"></i> {{ 'Save' | trans }}
            </button>
        </div>

        {{ form_errors(form) }}

        <div class="card card-body">
            <div class="mb-3">
                <h4 class="header-title">Choice2Type</h4>
                <p class="text-muted">
                    FormType based on <a href="https://symfony.com/doc/current/reference/forms/types/choice.html">ChoiceType</a>.
                </p>
                {% embed "admin/form/select2/form.html.twig" with {id: 'choice2'} %}
                    {% block form %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.choiceMission) }}
                                {{ form_row(form.choiceMissionTemplated) }}
                                {{ form_row(form.choiceMissions) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.choiceMissionReadonly) }}
                                {{ form_row(form.choiceMissionGrouped) }}
                            </div>
                        </div>
                    {% endblock %}
                    {% block code %}
                        <hl-code class="language-php">{{ source('admin/form/select2/_choice.txt') }}</hl-code>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="mb-3">
                {% include "admin/form/select2/_choice_options.html.twig" %}
            </div>
        </div>

        <div class="card card-body">
            <div class="mb-3">
                <h4 class="header-title">Entity2Type</h4>
                <p class="text-muted">
                    FormType based on <a href="https://symfony.com/doc/current/reference/forms/types/entity.html">EntityType</a>.
                </p>
                {% embed "admin/form/select2/form.html.twig" with {id: 'entity2'} %}
                    {% block form %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.choiceMissionEntity) }}
                            </div>
                        </div>
                    {% endblock %}
                    {% block code %}
                        <hl-code class="language-php">{{ source('admin/form/select2/_entity.txt') }}</hl-code>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="mb-3">
                {% include "admin/form/select2/_entity_options.html.twig" %}
            </div>
        </div>

        <div class="card card-body">
            <div class="mb-3">
                <h4 class="header-title">AutoCompleteType</h4>
                <p class="text-muted">
                    FormType with async loading (Ajax request).
                </p>
                {% embed "admin/form/select2/form.html.twig" with {id: 'asyncentity2'} %}
                    {% block form %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.asyncChoiceMission) }}
                                {{ form_row(form.asyncChoiceMissionTemplated) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.asyncChoiceMissions) }}
                                {{ form_row(form.asyncChoiceMissionPaginated) }}
                            </div>
                        </div>
                    {% endblock %}
                    {% block code %}
                        <hl-code class="language-php">{{ source('admin/form/select2/_async_entity.txt') }}</hl-code>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="mb-3">
                {% include "admin/form/select2/_async_entity_options.html.twig" %}
            </div>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}