<div class="card">
    <div class="card-header">
        {{ title | raw }}
    </div>
    <div class="card-body">
        <ul>
            {% if file.storageMapping %}
                <li>mapping id : {{ file.storageMapping }}</li>
            {% endif %}
            <li>storageName : {{ file.storageName }}</li>
            <li>name : {{ file.name }}</li>
            <li>Lien : <a href="{{ file | file_url }}" class="text-primary">{{ file | file_url }}</a></li>
            <li>Taille : {{ file.humanSize }}</li>
            <li>Config :</li>
        </ul>
        <pre class="border-dark border p-2">{{ source(source_config) }}</pre>


        <form data-mount="Form" enctype="multipart/form-data" method="post">
            {{ form_rest(form) }}

            <button type="submit" class="btn btn-primary">
                <i class="mdi mdi-upload mr-1"></i> Upload
            </button>
        </form>

    </div>
</div>