{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">How to</h4>

            <p>Créer une entité dans votre application héritant de <code>Umbrella\CoreBundle\Entity\BaseTaskConfig</code> :</p>
            <pre class="border-dark border p-2">{{ source('task/_task_config.txt') }}</pre>

            <p>
                Créer un <code>TaskHandler</code>, cette classe définira le comportement de votre tâche :<br>
            </p>

            <pre class="border-dark border p-2">{{ source('task/_task_handler.txt') }}</pre>

            <p>Enregistrer votre configuration :</p>
            <pre class="border-dark border p-2">{{ source('task/_task_register.txt') }}</pre>

            <p>Executer votre tache :</p>
            <pre class="border-dark border p-2">php bin/console task:schedule</pre>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Essayer - Ajouter une nouvelle espece de poisson</h4>

            <p>
                 Ajoutera un nouveau poisson en base si il trouve une correspondance avec le <b>code espece</b> dans FishBase
                - <a href="{{ path('app_admin_datatable_api') }}" class="text-primary">Codes disponibles</a>
            </p>

            <form method="post">
                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary">
                    <i class="mdi mdi-check mr-1"></i> Enregistrer
                </button>
            </form>
        </div>
    </div>

{% endblock %}