{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">How to</h4>
                </div>
                <div class="card-body">
                    <p>Generate entity and provider :</p>
                    <hl-code class="language-none">php bin/console make:admin:notification</hl-code>

                    <p>Customize generated code as you want, then enable notification on config:</p>
                    <hl-code class="language-yaml">{{ source('admin/notification/_config.txt') }}</hl-code>

                    <p>Finally, create your notification :</p>
                    <hl-code class="language-php">{{ source('admin/notification/_create_notification.txt') }}</hl-code>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Example 1 : Create a notification with form</h4>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" method="POST" data-mount="Form">
                        {{ umbrella_form_theme(new_notification_form) }}
                        {{ form_rest(new_notification_form) }}

                        <button type="submit" class="btn btn-primary">
                            <i class="mdi mdi-send me-1"></i> Send
                        </button>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Example 2 : Start a counter using <b>messenger bundle</b> and notify progress</h4>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" method="POST" data-mount="Form">

                        <div class="alert alert-info">
                            Messenger is a Symfony component. See <a href="https://symfony.com/doc/current/messenger.html" target="_blank">Messenger: Sync & Queued Message Handling</a>
                        </div>
                        {{ umbrella_form_theme(counter_form) }}
                        {{ form_rest(counter_form) }}

                        <button type="submit" class="btn btn-primary">
                            <i class="mdi mdi-send me-1"></i> Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
