{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    {{ nav_config('pills', {'active_strategy': 'current_route'}) }}
    {{ nav_start() }}
        {{ nav_item({'label' : 'How to', 'route': 'app_admin_notification_howto'}) }}
        {{ nav_item({'label' : 'Exemple', 'route': 'app_admin_notification_exemple'}) }}
    {{ nav_end() }}

    <div class="tab-content">
        <div class="tab-pane active">
            {% block tab_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}