{% extends "datatable/layout.html.twig" %}

{% block table_section %}
    <div class="card">
        <div class="card-body pb-0">
            <h4 class="card-title">Basic example</h4>
            <p class="text-muted font-14">
                Example of DataTable build with a <code>DataTableType</code>, columns are build with <code>ColumnType</code>, actions with <code>ActionType</code> and filters with <code>Symfony FormType</code>.<br>
                Server compute, filter and paginate data fetched from doctrine with <code>EntityAdapterType</code> class.
            </p>
        </div>
        <div class="card-datatable">
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

{% block code_section %}
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <a href="{{ git_url('src/Controller/DataTable/DataTableBasicController.php') }}" target="_blank"><i class="mdi mdi-github"></i> Symfony Controller</a>
            </div>
            <div class="mb-3">
                <a href="{{ git_url('src/DataTable/SpaceMissionTableType.php') }}" target="_blank"><i class="mdi mdi-github"></i> DataTableType</a>
            </div>
            <div>
                <a href="#code-twig" data-bs-toggle="collapse">
                    <i class="mdi mdi-code-tags me-1"></i> Twig template
                </a>
                <hl-code class="language-twig collapse" id="code-twig">{{  '{{ render_table(table) }}' }}</hl-code>
            </div>
        </div>
    </div>
{% endblock %}
