{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Principle</h4>
        </div>
        <div class="card-body">
            <p>
                Client ( your web browser ) send an <b>Ajax</b> request to server.<br>
                Then, server return an Json response respecting the good format.
            </p>

            <a href="#response-format" data-bs-toggle="collapse" class="text-primary">
                <i class="mdi mdi-eye me-1"></i> See response format
            </a>
            <hl-code class="language-json collapse" id="response-format">{{ source('admin/js/_js_response.txt') | e('html') }}</hl-code>
            <br>
            <p>
                So, Client resolves each actions one by one, calling the right js function depending of action type :
            </p>
            <ul>
                <li>action : toast &rightarrow; <code>Toastify({text: 'Lorem ipsum'}).showToast()</code></li>
                <li>action : redirect &rightarrow; <code>window.location.href=...</code></li>
            </ul>

            <p class="alert alert-primary">
                Easiest way to return response in good format is to use the service <b>JsResponseBuilder</b> on Symfony controller.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><span class="text-primary">data-xhr</span> attribute</h4>
                </div>
                <div class="card-body">
                    <p>
                        This attribute will override the default behaviour of <b>link</b> or <b>form</b> and send an <b>Ajax</b> request to server on
                        <b>click</b> or on <b>submit</b>.<br>
                    </p>
                    <hl-code class="language-xml">{{ source('admin/js/_async_link.txt') | e('html') }}</hl-code>

                    <div>
                        {% for action, label in actions %}
                            <a href data-xhr="{{ path('app_admin_js_xhr', {'action' : action}) }}" class="btn btn-primary me-2 mb-2">
                                {{ label }}
                            </a>
                        {% endfor %}
                    </div>

                    <div id="update-me"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><span class="text-primary">data-spinner</span> attribute</h4>
                </div>
                <div class="card-body">
                    <p>
                        Display a spinner until the server responds.
                    </p>
                    <hl-code class="language-xml">{{ '<a data-xhr="..." data-spinner="true" href>My link</a>' | e }}</hl-code>

                    <div>
                        <a href data-xhr="{{ path('app_admin_js_sleepxhr') }}" data-spinner="true" class="btn btn-primary me-2 mb-2">
                            Click-me
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><span class="text-primary">data-confirm</span> attribute</h4>
                </div>
                <div class="card-body">
                    <p>
                        Display a confirm modal before call server.
                    </p>
                    <hl-code class="language-xml">{{ '<a data-xhr="..." data-confirm="Are you sure ?" href>My link</a>' | e }}</hl-code>

                    <div>
                        <a href data-xhr="{{ path('app_admin_js_sleepxhr', {sleep: 0}) }}" data-confirm="Are you sure ?" class="btn btn-primary me-2 mb-2">
                            Click-me
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title"><span class="text-primary">data-xhr-id</span> attribute</h4>
                    <span class="badge bg-danger ms-auto">New</span>
                </div>
                <div class="card-body">
                    <p>
                        One ajax call can be performed at the same time if they have the same <b>xhr-id</b>.
                    </p>
                    <hl-code class="language-xml">{{ '<a data-xhr="..." data-xhr-id="my-id" href>My link</a>' | e }}</hl-code>

                    <div>
                        <a href data-xhr="{{ path('app_admin_js_sleepxhr', {sleep: 2}) }}" data-xhr-id="my-id" class="btn btn-primary me-2 mb-2">
                            Click-me
                        </a>
                        <a href data-xhr="{{ path('app_admin_js_sleepxhr', {sleep: 2}) }}" data-xhr-id="my-id" class="btn btn-primary me-2 mb-2">
                            Or me
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">JavaScript API</h4>
        </div>
        <div class="card-body">
            <p>
                Instead of use data- attribute, you can use Javascript methods.
            </p>

            <hl-code class="language-js">{{ source('admin/js/_ajax_utils.txt') | e('html') }}</hl-code>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">To go further...</h4>
        </div>
        <div class="card-body">
            <h5>Error handling</h5>

            <p>
                If server return a response with an error HTTP status code, a toast will be displayed
                A specific message will be displayed if HTTP status code is <b>404 not found</b> or <b>401 Unauthorized</b>.
            </p>


            <h5>Handle action on JavaScript - jsResponseHandler</h5>
            <p>
                Each type of action is handled by a function.
                The following code handle action of type 'toast' :
            </p>

            <hl-code class="language-js">{{ source('admin/js/_toast.txt') | e('html') }}</hl-code>

            <p>
                So, it's easy to override default action or add new action.
            </p>

        </div>
    </div>

{% endblock %}